@use "../Styles/var.scss" as var;

.footer {
  width: 100%;
  height: fit-content;
  width: 100%;
  background: var.$bgMainColor;
  color: var.$headerAndFooterColor;
  padding: var.$sidePadding;
  display: flex;
  flex-wrap: wrap;

  padding-top: 80px;
  padding-bottom: 30px;


  &-logo {
    width: 80px;
    margin-right: 60px;
    //align-items: center;
    //margin: 0 auto;
  }

  &-nav {
    margin-right: 60px;
    width: 122px;
    //align-items: center;
    //margin: 0 auto;

    &__item {
      text-transform: uppercase;
      margin-bottom: 12px;
      font-size: 13px;
      letter-spacing: 1px;


      &-link {
        &:hover {
          color: lightgrey;
        }
      }

    }
  }


}

.main-footer__promotion {
  margin-bottom: 20px;

  &-link {
    display: flex;
    gap: 30px;
    align-items: center;
    font-family: RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
    font-size: 14px;

  }

  &-image{
    width: 55px;
  }

  &-info{
    & h4{
      font-family: RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
      font-size: 14px;
      letter-spacing: 2px;
      line-height: 1;
      color: var.$headerAndFooterColor;
      text-align: left;
      text-transform: uppercase;
      margin-bottom: 2px;
    }

    & p{
      color: #767676;
      font-family: Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
      font-size: 14px;
    }
  }
}



