@use "../Styles/var.scss" as var;

header {

  width: 100%;
  height: fit-content;
  background: var.$bgMainColor;
  color: var.$headerAndFooterColor;
  padding: var.$sidePadding;
  border-bottom: var.$headerBorder;

  @media (max-width: 680px){
    position: fixed;
    top: 0;
  }


}

.header-box {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  background: var.$bgMainColor;
  color: var.$headerAndFooterColor;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;




}

.search-area {
  display: flex;
}