//Background Color
:root {
  --bg-color: #202020;
}
$bgMainColor: var(--bg-color);


//Font Color
:root {
  --header-and-footer-color: white;
}
$headerAndFooterColor: var(--header-and-footer-color);



//padding
$sidePadding: 0 20px;


// Fonts

$Roboto: Roboto;

$generalFontSize: 12px;

$headerBorder: 1px solid #393939;