@use '../../../../Styles/var.scss' as var;

.join-section {
  grid-area: join;
  height: 51px;
  max-width: 191px;
  width: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var.$headerAndFooterColor;
  padding: 0 25px;
  cursor: pointer;
  border-left: var.$headerBorder;
  border-right: var.$headerBorder;
  text-align: center;
  font-size: var.$generalFontSize;
  justify-content: space-between;

  @media (max-width: 680px){
    display: none;
  }

  & svg {
    width: 20px;
    margin-right: 8px;
  }

  & p{
    width: 94px;
  }

}